body{
    background-image:url(https://wallpaper.dog/large/20396404.jpg);
    background-repeat: no-repeat;
}

.map {
    height: 80vh;
    width: 55%;
    margin-left: 21.3%;
    margin-top: 2%;
    border: 1px black solid; 
}

.nav-bar{
    display:flex;
    margin-left: 39%;
    font-style: italic;
    border: solid 2px black;
    margin-right: 41%;
    margin-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 18px;
}

h2{
    margin-right: 20px;
    margin-left: 4px;
}

a{
    text-decoration: none;
    color: coral;
}

a:hover{
    border: 1px solid darkblue;
    border-radius: 5px;
    background: darkblue;
    letter-spacing: 1px;
}

#charts{
    background:white;
    display:flex;
    justify-content: center;
}
