body{
    background-image:url(https://wallpaper.dog/large/20396404.jpg);
}

.map {
    height: 80vh;
    width: 55%;
    margin-left: 21.3%;
    margin-top: 2%;
    border: 1px black solid; 
}

.nav-bar{
    display:flex;
    margin-left: 35%;
    font-style: italic;
    border: solid 2px black;
    margin-right: 35.9%;
    margin-top: 2%;
    border-radius: 18px;
}

h2{
    margin-right: 20px;
    margin-left: 4px;
}

a{
    text-decoration: none;
    color: coral;
}