body{
    background: aquamarine;
}

.map {
    height: 65vh;
    width: 55%;
    margin-left: 21.3%;
    margin-top: 5%; 
    border: 1px black solid; 
}

.nav-bar{
    display:flex;
    margin-left: 36%;
    font-style: italic;
    border: solid 2px black;
    margin-right: 39.7%;
    margin-top: 2%;
}

h2{
    margin-right: 20px;
    margin-left: 4px;
}